*{ 
margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background: #eee;
    box-sizing: border-box;
}
/* Paragraph sytle (Comments under Photos) */
p{
    text-align: left;
    position: absolute;
    bottom: 10px;
}

/* Header styles */

.header{
    background: #fff;
    padding: 20px 0;
    margin-bottom: 25px;

/* header flex */ 
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
}
/* Div Class Photo Flex */    
.photo{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* box style, then photo style, last flex */
.box{
    padding: 20px;
    margin: 25px 0px;
    width: 35%;
    background: #fff;
    
    height: ;
    background-position: 50% 50%;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
    
    
    /* with flex box doesnt adjust to photo */
    flex: 1 1 400px;
}

/* Background image used as Photo for feed */
.one{
    background-image: url(little-husky-dog.jpg);
}

.two{
    background-image: url(pug-skateboard.jpg);
}

.three{
    background-image: url(girlonlaptop.jpg);
}

.four{
    background-image: url(Food.png);
}

















